<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="stylesheet" href="static/css/form_style.css">
    </head>

    <body>
        <div class="container">
            <!-- Recipe Title -->
            <h1 id="h1_title" class="h1_title_style">{{recipe_name}}</h1>
            <!-- Recipe Poster -->
            <div class="poster_div">
                <img class="poster_style" width="556" height="370" src="{{recipe_img}}">
            </div>
            <!-- Ingredients Subtitle -->
            <div class="subtitle_div">
                <h4 id="h4_subtitle" class="h4_subtitle_style">{{recipe_ingredients}}</h4>
                <br><br>
                <h4>{{recipe_instructions}}</h4>
            </div>
        </div>

        <!-- Button Group -->
        <div class="btn_group">
            <form action="/handle_save_recipe" method="POST">
                <!-- TODO: Change Current User -->
                <!-- <input type="hidden" value="{{currentuser}}" name="username_field"> -->
                <input type="hidden" value="{{recipe_name}}" name="name">
                <input type="hidden" value="{{recipe_ingredients}}" name="ingredients">
                <input type="hidden" value="{{recipe_instructions}}" name="instructions">
                <button class="custom_button" type="submit">Save Recipe</button>
            </form>
            
            <a href="saved_recipes" class="custom_button" type="submit">View Saved Recipes</a>

            <form action="/index" id="refresh_form">
                <a href="" class="custom_button" form="refresh_form" type="submit">New Recipe Roll</a>
            </form>
        </div>
        <!-- End Button Group -->


    </body>
</html>