<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <h1 >Welcome to the Meal Helper</h1>
        <h2>Learn To Do Better</h2>
        <div class="poser_div">
            <img width="650" height="450" class="poster_style" src="static/images/gordan_ramsey.jpeg">
        </div>
        <h1>Login or Register</h1>
        <form action="">
            <div class="btn_group">
                <a class="custom_button" type="submit" href="/login">Login</a>
                <a class="custom_button" type="submit" href="/register">Register</a>
            </div>
        </form>
    </body>
</html>
