<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/index.css">
    </head>
    <body>
        <div class="container">
            <h1 class="h1_title_style" >Welcome to the Meal Helper</h1>
            <h2 class="h2_title_style">Learn To Do Better</h2>
        </div>


        <div class="container" >
            <div class="poser_div">
                <img width="650" height="450" class="poster_style" src="static/images/gordan_ramsey.jpeg">
            </div>
            
            <h1 class="h1_title_style" style="margin-bottom: .5em;margin-top: .5em;">Login or Register</h1>
            <form action="">
                <div class="btn_group">
                    <a class="custom_button" type="submit" href="/login">Login</a>
                    <a class="custom_button" type="submit" href="/register">Register</a>
                </div>
            </form>
        </div>

    </body>
</html>
